html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.container {
    width: 960px;
    margin: auto;
}

h1 {
    text-align: center;
    padding: 30px 0 10px 0;
    border-bottom: 1px solid #a9a9a9;
}

h1, h2 {
    color: #2f4f4f;
}

.float-left {
    float: left;
}

.clear {
    clear: both;
}

footer {
    text-align: center;
    background: #a9a9a9;
    color: #ffffff;
    font-weight: bold;
    font-size: 12px;
    padding: 10px;
}
