body {
    background: #e6e6fa;
}
.container {
    width: 600px;
    margin: auto;
}

form {
    padding: 20px;
    border: 1px solid #87cefa;
    background: #ffffff;
    margin: 20px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

input, textarea {
    display: block;
    margin: 5px;
    padding: 5px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

input, textarea {
    width: 400px;
    background: #f0ffff;
    border: 1px solid #87cefa;
}

label {
    display: block;
    margin: 15px 0 0 5px;
}

button {
    display: block;
    margin: 10px 0 0 5px;
    padding: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background: #ffd700;
    border: 1px solid #ffd700;
}

button:hover {
    background: #6a5acd;
    border: 1px solid #6a5acd;
    color: #ffffff;
}
