html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.container {
    width: 960px;
    margin: 0 auto;
}

.container::after {
    content: '';
    display: block;
    clear: both;
}

h1 {
    text-align: center;
    padding: 30px 0 10px 0;
    border-bottom: 1px solid #a9a9a9;
}

h1, h2 {
    color: #2f4f4f;
}

.float-left {
    float: left;
}

main {
    padding: 10px;
    margin-bottom: 10px;
}

nav {
    width: 20%;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    padding: 5px;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-decoration: underline;
}

img {
    width: 25%;
    border: 1px solid #2f4f4f;
    margin: 1px;
}

article {
    width: 80%;
}

.text-style {
    font-style: italic;
    color: #ff00ff;
}

footer {
    border-top: 1px solid #a9a9a9;
    text-align: center;
    color: #2f4f4f;
    font-weight: bold;
    font-size: 12px;
}
